{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }}. {{ block.super }} {% endblock %}

{% block content %}
<div id="maintext">
    <h3> Блок викторин</h3>
    {% for quiz in quizes %}
    <!--    <img src="{{ quiz.get_default_pic}}"-->
    <p>

        <a href="{{ quiz.get_absolut_url }}">
            <img src="/static/img/TrebleClef.png" alt="скрипичный ключ" width="50px">
            {{quiz.id }} {{ quiz.title }}
        </a></p>


    {% endfor %}
    <h3> Блок закончен</h3>
</div>
{% endblock %}
