{% extends "base.html" %}
{% block content %}
<h1> Всякий текст начало
</h1>
<div id="content">
  <div id="maintext">
    <h1>
    </h1>
    <p>Пермский музыкальный колледж – одно из старейших и известных средних учебных заведений России, основан в 1924 году. Образовательное учреждение имеет богатую историю и славится замечательными традициями. Выпускники колледжа вносят достойный вклад в развитие музыкального исполнительства и образования, управления учреждениями культуры и искусства; работают в России и за рубежом.
    </p>
  </div>
</div>
<h3> Блок закончен
</h3>
{% endblock %}
